@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-image: url("./assets/background.png");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  box-shadow: rgba(0, 0, 0, 0.99) 0px 5px 15px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
}

.logo-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  width: 150px;
  height: 150px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.msk {
  margin: 20px;
}

h1 {
  font-size: 36px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #10bca0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #2980b9;
  text-decoration: none;
  color: white;
}

.dashboard-box {
  text-align: center;
  display: inline-block;
  width: 150px;
  height: 150px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 5px;
  color: white;
}
.angkas {
  font-size: 25px;
  font-weight: bold;
}
.laporanmasuk {
  background-color: #02a0fc;
}

.laporanditerima {
  background-color: #fec400;
}

.laporanditolak {
  background-color: #f12b2c;
}

.laporanselesai {
  background-color: #14bd96;
}

.laporanpending {
  background-color: #696969;
}

.img-logo {
  width: 50px;
}

p {
  font-size: 15px;
}

nav {
  font-weight: bold;
  font-size: 20px;
}

input,
select {
  box-shadow: none;
  margin-top: 10px;
  border: 1px solid black;
}

.appr {
  border-radius: 4px;
  margin-top: 5px;
}

.hist-jdl {
  color: #152c5b;
  font-weight: bold;
  margin-top: 5px;
}

b {
  color: #152c5b;
}

.tabes {
  background-color: tomato;
}

.desk {
  color: #219653;
  margin-top: 10px;
  text-align: center;
}

.btn1 {
  background-color: #152c5b;
  color: white;
  border: none;
  border-radius: 15px 10px 20px 10px;
  padding: 10px;
}

.btn2 {
  background-color: #366536;
  color: white;
  border: none;
  border-radius: 10px 15px 10px 20px;
  padding: 10px;
}

.btnvoteup,
.btnvotedown {
  color: black;
  border: none;
}

.sudahvote {
  color: #14bd96;
  border: none;
}

.btnvoteup {
  background-color: transparent;
}

.btnvotedown {
  background-color: #f12b2c;
}

.judullogin {
  color: #10bca0;
}

.btnlogin {
  background-color: #10bca0;
  color: white;
  border: none;
  border-radius: 10px 15px 10px 20px;
  padding: 10px;
  margin-top: 20px;
}

.terimakeluhan,
.tolakkeluhan,
.selesaiorder {
  color: white;
  border: none;
  border-radius: 10px 15px 10px 20px;
  padding: 10px;
  width: 100px;
  margin-top: 2vh;
}

.terimakeluhan {
  background-color: #14bd96;
}

.selesaiorder {
  background-color: #02a0fc;
}

.tolakkeluhan {
  background-color: #f12b2c;
}

.btndetail {
  background-color: transparent;
  border: none;
  float: right;
}

/* home */

.judul {
  margin-top: 40px;
  font-weight: bold;
  color: white;
}

.judul2 {
  color: white;
  font-size: 20px;
}

.form-control {
  border-radius: 20px;
}

.labelform {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #152c5b;
  font-weight: bold;
}

.select-container {
  position: relative;
  display: inline-block;
}

.select-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #152c5b;
}

.tampilanhome {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

.tampilanadmin {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

.tampilanlogin {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 2r0px;
  background-color: white;
}

.inic {
  margin-top: 10vh;
  margin-bottom: 15vh;
}

.status-pending {
  color: #fec400;
}

.status-selesai {
  color: #02a0fc;
}

.status-ditolak {
  color: #f12b2c;
}

.status-diterima {
  color: #14bd96;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.backbutton {
  justify-content: flex-start;
}

.juduldetailpengaduan {
  flex-grow: 1;
  text-align: center;
}

.alasanpenolakan {
  font-weight: bold;
}

.pengaduan {
  color: white;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
  border-radius: 10px;
  padding: 20px;
}

.tambahkeluhan {
  color: white;
  border-radius: 10px;
}

.jdltambahkeluhan {
  flex-grow: 1;
  text-align: center;
  color: white;
  font-weight: bold;
}

.subjudul {
  color: white;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .judul {
    font-size: 24px;
    margin-top: 20px;
  }

  .judul2 {
    font-size: 16px;
  }

  .form-control {
    font-size: 12px;
  }

  .labelform {
    font-size: 12px;
  }

  .tampilanhome,
  .tampilanadmin,
  .pengaduan,
  .tambahkeluhan {
    margin-top: 10px;
    padding: 10px;
  }

  .pengaduan,
  .tambahkeluhan {
    font-size: 14px;
  }

  .jdltambahkeluhan {
    font-size: 18px;
  }
}

.img-scooter {
  max-width: 20%;
  height: 20%;
  display: block;
  margin: 0 auto;
}

.text-danger {
  font-size: 8px;
  margin-left: 10px;
}
